<!DOCTYPE html>
<html class="mdc-typography">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Add Patient</title>
    <link rel="stylesheet"  href="dist/material-components-web.min.css">
    <link rel="shortcut icon"  href="free.ico" />
  </head>
<body align="center">
<a href="AddAdmin.html">Add Admin</a>
<a href="AddPatient.html">Enter new Patient</a>
<a href="Dashboard.html">Dashboard</a>
<a href="Index.html">Home</a>
<a href="Login.html">Login</a>
	<form align="center">
    <h2 class="mdc-typography--display2">Adding Patients</h2>
    <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
      <input type="text" class="mdc-textfield__input" id="freak">
      <label for="freak" class="mdc-textfield__label">FirstName</label>
	</div>
	<p> 
	<div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
      <input type="text" class="mdc-textfield__input" id="showtime">
      <label for="showtime" class="mdc-textfield__label">SecondName</label>
	</div>
	<p> 
	<div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
      <input type="text" class="mdc-textfield__input" id="showtime">
      <label for="showtime" class="mdc-textfield__label">Contact</label>
	</div>
	<p> 
	<div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
      <input type="text" class="mdc-textfield__input" id="showtime">
      <label for="showtime" class="mdc-textfield__label">Next of Kin</label>
	</div>
	<p>
	<div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
      <input type="text" class="mdc-textfield__input" id="showtime">
      <label for="showtime" class="mdc-textfield__label">Next of Kin Contact</label>
	</div>
	<p> 
	<div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
      <input type="text" class="mdc-textfield__input" id="showtime">
      <label for="showtime" class="mdc-textfield__label">Previous Medical Issues</label>
	</div>
	<p> 
	<button type="button" class="mdc-button--raised mdc-button--primary">Add Patient</button>
	</form>
    <script src="dist/jquery-3.1.1.min.js"></script>
	<script src="dist/material-components-web.min.js"></script>
	<script>window.mdc.autoInit();</script>
</body>
</html>